:root{
    --primario: rgb(60, 180, 189);
    --primarioOscuro: rgb(37, 131, 118);
    --secundario: rgb(243, 126, 126);
    --secundarioClaro: rgb(243, 148, 148);
    --secundarioOscuro: rgb(221, 92, 92);
    --blanco: #fff;
    --negro: #000;

    --fuentePrincipal: 'Bebas Neue', sans-serif;
    --fuentaSecundaria: 'Rajdhani', sans-serif;
}

/* Globales */

*{
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    line-height: 1;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 39%, rgba(235,235,235,1) 53%, rgba(198,198,200,1) 100%);
}

p{
    font-family: var(--fuentaSecundaria);
    font-size: 3.4rem;
}

.contenedor{
    margin: auto;
    max-width: 120rem;
}

h1, h2, h3{
    font-family: var(--fuentePrincipal);
    text-align: center;
    color: var(--secundario);
}

h1{ font-size: 8rem;
    text-shadow: 4px 3px 0 #000000; }
h2{ font-size: 5rem; }
h3{ font-size: 4rem; }

/* header */

header{
    background-image: url(/recursos/imagenes/pexels-oliver-sjöström-1005417.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

header p{
    text-align: center;
    font-family: var(--fuentaSecundaria);
    color: var(--blanco);
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 1rem;
    transform: translateY(-4rem);
    text-shadow: 4px 3px 0 #3b7039;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primarioOscuro);

}

nav a{
    text-decoration: none;
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
    margin: 1rem;
    font-size: 4rem;
    transition: all 0.1s;
}

nav a:hover{
    transform: scale(1.1);
    transition: all 0.1s;
    color: var(--secundarioClaro);
}

/* main */

main{
    max-width: 120rem;
    background-color: var(--primarioOscuro);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 0px 21px -3px rgba(0,0,0,0.46);
    -webkit-box-shadow: 0px 0px 21px -3px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 0px 21px -3px rgba(0,0,0,0.46);
}

.contenedor-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
    row-gap: 3rem;
}


.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1.2rem;
    background-color: var(--secundario);
    padding: 2rem;
    height: 50rem;
    transition: all 0.2s;
    cursor: pointer;
}

.card:hover{
    transition: all 0.2s;
    box-shadow: 0px 0px 21px -5px rgba(0,0,0,0.42);
    -webkit-box-shadow: 0px 0px 21px -5px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 0px 21px -5px rgba(0,0,0,0.42);
}

.card img{
    max-width: 80%;
    margin: 1rem;
    margin-bottom: 5rem;
}

.card h3, span{
    color: var(--negro)
}


.card span{
    color: var(--blanco);
    font-size: 5rem;
    margin-top: 1.5rem;
    font-family: sans-serif;
}

.card:nth-child(4){
    grid-column: 1 / 3 ;
    background: url(/recursos/imagenes/pexels-jv-buenconcejo-2371778.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.card:nth-child(4) img{
    display: none;
}

.cardcont{
    background-color: rgba(0, 0, 0, 0.555);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* footer */

footer{
    background-color: var(--secundarioOscuro);
    text-align: center;
    font-family: var(--fuentaSecundaria);
    font-size: 2rem;
    color: var(--blanco);
    margin-top: 2rem;
}